<%= stylesheet_link_tag "about" %>

<!--Hero Section-->
<div class = "about-hero">
    <div class="left-abt-hero">
        <%= image_tag("about/hero.png", :alt => "Cyruss Allen Amante", :class => "abt-hero-image", :draggable => "false") %>
    </div>
    <div class="right-abt-hero">
        <h1 class="hero-text">about me.</h1>
        <p class="hero-subtext">Hi there! I am a Software Engineering (B.Eng) student at McMaster University,
        and I am passionate about creating elegant and efficient solutions to complex problems.<br><br>
        Whether it is a challenging programming project or a technical issue that needs troubleshooting, 
        I thrive on finding creative solutions that exceed expectations.<br><br>
        My practical experience includes working as a Sales Associate and Information Technology Co-Op student, where I honed my customer service skills, 
        managed databases, and tackled technical problems with out-of-the-box thinking. 
        And in my free time, I love to work on personal projects that allow me to explore new languages and tools, 
        like Java, Python, Ruby, HTML/CSS, and more.<br><br>
        Beyond my technical skills, I possess a variety of soft skills that make me an excellent team player, 
        including creativity, problem-solving, communication, adaptability, and leadership. 
        I am always excited to learn from others and work collaboratively to achieve our shared goals.<br><br>
        I am currently seeking new job opportunities in the software engineering field, and am eager to take on new challenges 
        and contribute to innovative teams.</p>
    </div>
    
</div>