<%= stylesheet_link_tag "about" %>

<!--Hero Section-->
<div class = "about-hero">
    <div class="left-abt-hero">
        <%= image_tag("about/hero.png", :alt => "Cyruss Allen Amante", :class => "abt-hero-image") %>
    </div>
    <div class="right-abt-hero">
        <h1 class="hero-text">about me.</h1>
        <p class="hero-subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Cras et elit eu odio blandit cursus vel ac purus. Fusce sit amet pretium purus. 
        Vivamus dapibus vitae arcu quis posuere. Fusce posuere eget orci eu lacinia. 
        Quisque consectetur pharetra ex nec lobortis. Integer id interdum ante.<br><br>
        Etiam in nibh luctus, vestibulum orci in, eleifend nunc. 
        Suspendisse feugiat, ante sed dignissim volutpat, felis sem finibus urna, a egestas lectus enim nec nisl. 
        Proin tincidunt dolor quis mi lacinia, ac viverra nulla convallis.</p>
    </div>
    
</div>